@media all and (min-width:300px) and (max-width:1200px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background: #100e2e;
    }

    h1{
    font-size: 35px;
    margin-top: 55px;
    }

    header{
        width: 80%;
        margin: 15px auto;

    }

    input{
        width: 75%;
        height: 65px;
        padding-left: 10px;
        display: flex;
    }

    button.add{
        width: 25%;
        height: 65px;
    }

    main{
        width: 100%;
        margin: 0 auto;
        height: 65px;
    }

    
    .item{
        width: 95%;
        margin: 0 auto;
        height: 65px; 
        margin-bottom: 10px;
        background: #969696;
    }

    .item-icone{
        width: 10%;
        height: 65px;
        padding-top: 15px;
    }

    .item-texto{
        width: 55%;
        height: 65px;
        padding-top: 15px;
    }

    .item-botao{
        width: 35%;
        height: 65px;

    }

    .deletar{
        width: 100%;
        height: 65px;
        font-size: 28px;
        
    }

    .item-clicado{
        color: #5c5c5c;
        background: #7df772;
    }
}
